:root {
  --mainPostPadding: 15px;
}
.mainPostMoreMenu {
  .moreMenu {
    top: var(--mainPostPadding);
    right: var(--mainPostPadding);
  }
}
.mainPostContainer {
  position: relative;
}
.mainPost {
  background-color: var(--post-background);
  display: grid;
  grid-template:
    "profilePicture userInfo moreArea"
    "content content content"
    "dateInfo dateInfo dateInfo"
    "interactions interactions interactions" / 44px auto 44px;
  gap: 10px;
  padding: var(--mainPostPadding);
  border-radius: 4px;
  .profilePicture {
    grid-area: profilePicture;
    background-color: var(--theme-surface0);
    height: 40px;
    width: 40px;
    border-radius: 8px;
  }
  .userInfo {
    grid-area: userInfo;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    .displayName {
      font-weight: 600;
      margin-right: 0.2em;
    }
    .username {
      color: var(--theme-overlay1);
      font-family: "Ubuntu Variable", sans-serif;
    }
  }
  .moreArea {
    grid-area: moreArea;
    display: flex;
    align-items: start;
    justify-content: end;
    .moreButton {
      background-color: inherit;
      border: none;
      color: inherit;
      border-radius: 4px;
      padding: 4px;
      &:hover {
        cursor: pointer;
        background-color: var(--theme-surface0);
      }
    }
  }
  .content {
    grid-area: content;
    margin: 5px 0px 10px 0px;
    word-break: break-word;
    white-space: pre-wrap;
  }
  .dateInfo {
    grid-area: dateInfo;
    font-size: 0.95em;
    display: flex;
    gap: 4px;
    .postDate {
      color: var(--theme-overlay2);
    }
    .editedDate {
      color: var(--theme-overlay1);
    }
  }
  .interactions {
    grid-area: interactions;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: flex-start;
    border-top: 1px solid var(--theme-surface0);
    padding-top: 6px;
    margin-top: 6px;
    button {
      font-size: 15px;
      &.likedPost {
        color: var(--theme-red);
      }
      .kindaLiked {
        font-weight: 500;
      }
      .veryLiked {
        font-weight: 600;
      }
      .likedALot {
        font-weight: 700;
      }
    }
  }
}
/* .mainPost * { */
/*   border: 1px solid var(--theme-surface0); */
/*   border-radius: 4px; */
/* } */
